@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.about--section {
    background-color: #bbe686;
    padding: 58px 128px;
    text-align: center;
    .about-content-heading {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 44px;
    } 
    .about-content-section {
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }
    .about-content {
        padding-top: 30px;
        text-align: center;
    }
}

.offers--section {
    background-color: #f9ca7a;
    padding: 64px;
    text-align: center;
    .offers-heading {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
    }
    .offers-content {
        font-family: 'Josefin Sans', sans-serif;
    }
    .offer-image {
        height: 300px;
        width: 300px;
    }
    .offer-text {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        padding-top: 10px;
    }
}

.offers-button {
    padding: 8px 24px;
    border: none;
    background-color: #6f3a27;
    border-radius: 18px;
    margin-top: 48px;
    color: white;
    font-weight: 400;
}

.orders--section {
    background-color: #a4e6f0;
    padding: 64px;
    .order-image {
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .order-name {
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        margin-top: 20px;
    }
    .order-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .offers-container {
        text-align: center;
    }
}

.story--section {
    background-color: #cfd7c9;
    padding: 64px;
    .story-heading {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 54px;
        font-weight: 700;
        text-align: center;
    }
    .story-content {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        padding-top: 30px;
    }
    .story-image-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .story-image {
            width: 500px;
            height: 200px;
        }
        
    }
    .story-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.footer--section {
    background-color: #000000;
    .footer-image {
        margin-right: 50px;
        padding: 0;
        height: 500px;
    }
    .footer-content {
        color: white;
        margin-top: 30px;        
    }
}